        <table class="table is-fullwidth has-text-centered even-split">
            <thead>
                <tr>
                    <th class="has-text-centered has-text-danger">Strengths</th>
                    <th class="has-text-centered has-text-danger">Weaknesses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{!-- need logic to pull defensive strengths from john --}}
                    <td class="has-text-centered has-text-light">going fast</td>
                    {{!-- need logic to pull defensive weaknesses from john --}}
                    <td class="has-text-centered has-text-light">going slow</td>
                </tr>
            </tbody>
        </table>