{{!-- need a dropdown to let person choose subtype (static list and ALL) --}}
{{!-- https://api.pokemontcg.io/v2/cards/?q=name:venusaur subtypes:"tag team" --}}
{{!-- static list https://docs.pokemontcg.io/api-reference/subtypes/get-subtypes --}}

<div class="column is-full-mobile">
    <form id="searchForm" class="field is-10 has-addons">
        <p class="control is-expanded">
            <input id="pokeInput" name="pokeInput" type="text" class="input is-rounded has-background-light has-text-dark center" placeholder="Pokémon's Name"/>
        </p>
        <p class="control">
            <button id="searchButton" type="submit" class="button is-rounded has-background-light has-text-danger has-text-weight-bold">Search</button>
        </p>
    </form>
</div>