<section>
    <figure class="image is-128x128">
        <img src="{{!-- need route from sprites.other.officialartwork --}}" />
        <p class="is-size-5 has-text-danger has-text-centered">{{!--need name--}}</p>
    </figure>
</section>
