<section>
    <figure>
        <div class="image is-128x128">
            <img src="{{sprite.other.official-artwork.front_default}}" alt="pokemon sprite"/>
        </div>
        <p class="is-size-5 has-text-danger has-text-centered">{{name}}</p>
    </figure>
</section>
