<tr>
    {{!-- need logic to push checkbox to sprite.handlebars --}}
    <th class="checkbox">
        <input type="checkbox"/>
    </th>
    
    <th>{{!-- pokedex --}}</th>
    <td>{{!-- name --}}</td>
    <td>{{!-- type 1 --}}</td>
    <td>{{!-- type 2 --}}</td>
</tr>