<tr>
    {{!-- need logic to push checkbox to sprite.handlebars --}}
    <th class="checkbox">
        <input type="checkbox"/>
    </th>
    
    <th>{{id}}</th>
    <td>{{name}}</td>
    <td>{{types[1].type.name}}</td>
    <td>{{types[2].type.name}}</td>
</tr>