<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MyPokeDB</title>
</head>
<body>
    {{!-- header --}}
    <header class="hero has-background-black">
        <div class="hero-body">
            <nav class="container columns level">
                <div class="navbar-item is-active column is-flex is-justify-content-center">
                    <div class="field has-addons is-marginless is-hidden-mobile">
                        <a class="control" role="navigation"  href="/search">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Search</span></button>
                        </a>
                        <a class="control" role="navigation"  href="/collection">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Collection</span></button>        
                        </a>
                        {{!-- if logged in - log out else log in --}}
                        {{#if loggedIn}}
                            <a class="control" role="navigation"  href="/login">
                                <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Login</span></button>        
                            </a>
                        {{else}}
                            <a class="control" role="navigation"  href="/login">
                                <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Login</span></button>        
                            </a>
                        {{/if}}
                    </div>
                </div>
                <!-- Title -->
                <div class="column is-4 center">
                    <a role="navigation" href="/">
                        <h1 class="title is-size-1 has-text-danger has-text-weight-bold">MyPokeDB</h1>
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    {{!-- footer --}}
    <footer class="hero has-background-black desktop-footer mt-3">
        <div class="hero-body">    
        </div>
    </footer>
    {{!-- js link --}}
    <script src="/js/scripts.js"></script>
</body>
</html>