<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>MyPokeDB</title>
</head>
<body>
    <header class="hero has-background-black">
        <div class="hero-body">
            <nav class="container columns level">
                <!-- Login and Collections button -->
                <div class="navbar-item is-active column is-flex is-justify-content-center">
                    <div class="field has-addons is-marginless is-hidden-mobile">
                        <a class="control" role="navigation"  href="login.html">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Login</span></button>        
                        </a>
                        <a class="control" role="navigation"  href="collection.html">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Collection</span></button>        
                        </a>
                    </div>
                </div>
                
                <!-- Header/Title -->
                <div class="column is-4 center">
                    <h1 class="title is-size-1 has-text-danger has-text-weight-bold">MyPokeDB</h1>
                </div>
            </nav>
        </div>
    </header>

    {{!-- spacer --}}
    <section class="section is-flex is-fullheight">
        <div class="column spacer level-item center is-1 is-full-mobile"></div>
        </div>
    </section>

    {{!-- footer --}}
    <footer class="hero has-background-black desktop-footer">
        <div class="hero-body">    
        </div>
    </footer>

    {{!-- js link --}}
    <script src="../../public/js/scripts.js"></script>
</body>


</html>