<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>MyPokeDB</title>
</head>
<body>
    {{!-- header --}}
    <header class="hero has-background-black">
        <div class="hero-body">
            <nav class="container columns level">
                <!-- Login and Collections button -->
                {{!-- seacrch need to be added --}}
                {{!-- needs routes --}}
                <div class="navbar-item is-active column is-flex is-justify-content-center">
                    <div class="field has-addons is-marginless is-hidden-mobile">
                        {{!-- if logged in - log in else log out --}}
                        {{#if loggedIn}}
                        <a class="control" role="navigation"  href="/login">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Login</span></button>        
                        </a>
                        <a class="control" role="navigation"  href="/collection">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Collection</span></button>        
                        </a>
                        <a class="control" role="navigation"  href="/search">
                            <button class="button is-rounded has-background-light has-text-danger has-text-weight-bold"><span>Search</span></button>
                        </a>
                    </div>
                </div>
                
                <!-- Title -->
                <div class="column is-4 center">
                    <h1 class="title is-size-1 has-text-danger has-text-weight-bold">MyPokeDB</h1>
                </div>
            </nav>
        </div>
    </header>


    {{!-- footer --}}
    <footer class="hero has-background-black desktop-footer">
        <div class="hero-body">    
        </div>
    </footer>

    {{!-- js link --}}
    <script src="../../public/js/scripts.js"></script>
</body>


</html>