<body>
    
    <div class="level">
        <h1 class="is-size-1 is-uppercase level-left">Collection</h1>
    </div>

    <div class="table-container is-flex">
        
        <section>
            {{!-- insert pokecard.handlebars --}}
        </section>

    </div>
    
</body>