<body>
    {{!-- Header --}}
    <div class="level">
        <h1 class="is-size-1 is-uppercase level-left">Collection</h1>
    </div>

    {{!-- Search - can be a partial but unsure which is better --}}
    <div class="column is-full-mobile">
        <form id="searchForm" class="field is-10 has-addons">
            <p class="control is-expanded">
                <input id="pokeInput" name="pokeInput" type="text" class="input is-rounded has-background-light has-text-dark center" placeholder="Pokémon's Name"/>
            </p>
            <p class="control">
                <button id="searchButton" type="submit" class="button is-rounded has-background-light has-text-danger has-text-weight-bold">Search</button>
            </p>
        </form>
    </div>

    {{!-- Card container --}}
    <div id="pokecard-container" class="columns is-multiline">{{> pokecard}}</div>
    
</body>