<body>
    
    <div class="level">
        <h1 class="is-size-1 is-uppercase level-left">Collection</h1>
    </div>

    <div id="pokecard-container" class="columns is-4"> {{> pokecard}} </div>
    
</body>