{{!-- need to specify routes --}}
<body>
    <div class="is-flex">
            {{!-- login route --}}
            <a href="login.html">
                <button>
                    <div class="bulma-overlay-mixin-parent">
                        <div class="bulma-overlay-mixin">Login</div>
                      </div>
                <img src="../public/images/water.jpeg" />
                </button>
            </a>

            {{!-- collection route --}}
            <a href="collection.html">
                <button>
                    <div class="bulma-overlay-mixin-parent">
                        <div class="bulma-overlay-mixin2">Collection</div>
                      </div>
                <img src="./test-images/grass.jpeg" />
                </button>
            </a>
 
            {{!-- unused route --}}
            <div href="">
                <button>
                    <div class="bulma-overlay-mixin-parent">
                        <div class="bulma-overlay-mixin3">UNRELEASED</div>
                      </div>
                <img src="../public/images/fire.jpeg" />
                </button>
            </div>

    </div>
</body>