<body>
    <div class="container">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
            <input class="input is-large" type="email" placeholder="User Name">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
            </p>
        </div>
        
        <div class="field">
            <p class="control has-icons-left">
            <input class="input is-large" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            </p>
        </div>
    
    {{!-- need logic to verify user credentials and load their collection --}}
        <a class="field"  href="collection.html">
            <p class="control">
            <button class="button is-success">
                Login
            </button>
            </p>
        </a>
    </div>

</body>