<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- GStatic CDN -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Bulma Node_Modules -->
    <!-- <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css"> -->
    <!-- CSS link -->
    <link rel="stylesheet" href="./styles.css">
    <title>MyPokeDB</title>
</head>
<body>
    
    <div class="level">
        <h1 class="is-size-1 is-uppercase level-left">Collection</h1>
    </div>

    <div class="columns is-4">

        <section class="is-size-7 has-text-danger has-text-centered">
            <figure class="image is-128x128">
                <img src="./test-images/LgcjgEqtmuKN.jpg" />
                <div>Name: {{data.name}}</div>
                <div>Price: {{data.tcgplayer.mid}}</div>
            
                {{#if (eq data.types.length > 1)}}
                    <div>Type One: {{data.types.[0]}}</div>
                    <div>Type Two: {{data.types.[1]}}</div>
        
                {{else}}
                    <div>{{data.types.[0]}}</div>
                {{/if}}
        
            </figure>
        </section>

    </div>
</body>
</html>