<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- CSS link -->
    <link rel="stylesheet" href="./styles.css">
    <title>MyPokeDB</title>
</head>
<body>
    <div class="is-flex">
          
            <a href="login.html">
                <button>
                    <div class="bulma-overlay-mixin-parent">
                        <div class="bulma-overlay-mixin">Login</div>
                      </div>
                <img src="./test-images/water.jpeg" />
                </button>
            </a>


            <a href="deck.html">
                <button>
                    <div class="bulma-overlay-mixin-parent">
                        <div class="bulma-overlay-mixin2">Deck</div>
                      </div>
                <img src="./test-images/grass.jpeg" />
                </button>
            </a>
 

            <a href="teambuilder.html">
                <button>
                    <div class="bulma-overlay-mixin-parent">
                        <div class="bulma-overlay-mixin3">Team Builder</div>
                      </div>
                <img src="./test-images/fire.jpeg" />
                </button>
            </a>

    </div>
</body>
</html>