<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- GStatic CDN -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Bulma Node_Modules -->
    <!-- <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css"> -->
    <!-- CSS link -->
    <link rel="stylesheet" href="./styles.css">
    <title>MyPokeDB</title>
</head>
<body>
    <div class="container">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
            <input class="input is-large" type="email" placeholder="User Name">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
            </p>
        </div>
        
        <div class="field">
            <p class="control has-icons-left">
            <input class="input is-large" type="password" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            </p>
        </div>
    
        <a class="field"  href="deck.html">
            <p class="control">
            <button class="button is-success">
                Login
            </button>
            </p>
        </a>
    </div>

</body>
</html>