<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <!-- GStatic CDN -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <!-- Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Bulma Node_Modules -->
    <!-- <link rel="stylesheet" href="./node_modules/bulma/css/bulma.min.css"> -->
    <!-- CSS link -->
    <link rel="stylesheet" href="./styles.css">
    <title>MyPokeDB</title>
</head>
<body>

    <h1 class="is-size-1 is-uppercase">Team Builder</h1>

    
      <div class="table-container is-flex">
        <section>
            <figure class="image is-128x128">
            <img src="./test-images/LgcjgEqtmuKN.jpg" />
            <p class="is-size-5 has-text-danger has-text-centered">sanic</p>
        </figure>
        </section>
        <section>
            <figure class="image is-128x128">
            <img src="./test-images/LgcjgEqtmuKN.jpg" />
            <p class="is-size-5 has-text-danger has-text-centered">sanic</p>
        </figure>
        </section>
        <section>
            <figure class="image is-128x128">
            <img src="./test-images/LgcjgEqtmuKN.jpg" />
            <p class="is-size-5 has-text-danger has-text-centered">sanic</p>
        </figure>
        </section>
        <section>
            <figure class="image is-128x128">
            <img src="./test-images/LgcjgEqtmuKN.jpg" />
            <p class="is-size-5 has-text-danger has-text-centered">sanic</p>
        </figure>
        </section>
        <section>
            <figure class="image is-128x128">
            <img src="./test-images/LgcjgEqtmuKN.jpg" />
            <p class="is-size-5 has-text-danger has-text-centered">sanic</p>
        </figure>
        </section>
        <section>
            <figure class="image is-128x128">
            <img src="./test-images/LgcjgEqtmuKN.jpg" />
            <p class="is-size-5 has-text-danger has-text-centered">sanic</p>
        </figure>
        </section>
    </div>

    <table class="table has-text-primary">
        <thead>
          <tr>
            <th>Team</th>
            <th><abbr title="DexNumber">Dex Number</abbr></th>
            <th>Name</th>
            <th><abbr title="Type1">Typing 1</abbr></th>
            <th><abbr title="Type2">Typing 2</abbr></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th class="checkbox">
                <input type="checkbox"/>
            </th>
            <th>1</th>
            <td>sanic</td>
            <td>ball</td>
            <td>spin</td>
          </tr>
        </tbody>
      </table>


    <div>
        <table class="table is-fullwidth has-text-centered even-split">
            <thead>
                <tr>
                    <th class="has-text-centered has-text-danger">Strengths</th>
                    <th class="has-text-centered has-text-danger">Weaknesses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="has-text-centered has-text-light">going fast</td>
                    <td class="has-text-centered has-text-light">going slow</td>
                </tr>
            </tbody>
        </table>
    </div>

    

</body>

</html>